<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381910341082-pno0cjokscg81piotb3c3l2g6u7v4hpm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381910341082-pno0cjokscg81piotb3c3l2g6u7v4hpm</string>
	<key>API_KEY</key>
	<string>AIzaSyA_8rb3-rxKUeTIOzbccZa-PLS4bZOB4yA</string>
	<key>GCM_SENDER_ID</key>
	<string>381910341082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companionapp</string>
	<key>PROJECT_ID</key>
	<string>companion-staging-491606</string>
	<key>STORAGE_BUCKET</key>
	<string>companion-staging-491606.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381910341082:ios:4cc11df88ca06e49809ce3</string>
</dict>
</plist>